@page "/"

<PageTitle>Home</PageTitle>

<h1>Backoffice E-commerce | Manage Products, Clients, Orders & Metrics</h1>

Mini backoffice dashboard to efficiently manage products, clients, orders, and view key metrics for your e-commerce store. Scalable platform with future features planned.
